@using System.Web.Optimization
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:url" content="http://almanah-drama.by/"/>
	<meta property="og:type" content="article"/>
	<meta property="og:title" content="Альманах 'Обратная перспектива'"/>
	<meta property="og:image" content="http://kinoscenariy.net/wp-content/uploads/2013/09/Screenwriting_script1.png"/>
	<meta property="og:description" content="Здесь вы найдёте сценарии, а ещё Паша передаёт привет "/>

    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/script/homepage")

    @Styles.Render("~/bundles/css/homepage")

    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()

    @*<footer class="footer">
        Паша молодец. Немного футера
    </footer>*@
</body>
</html>
